@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glow_button {
  border: none;
  outline: none;
  color: #fff;
  background: #212224;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.glow_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #8fc3f3,
    #3a95f6,
    #7a14ff,
    #8fc3f3,
    #3a95f6,
    #7a00ff,
    #8fc3f3,
    #3a95f6,
    #c7a1ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.glow_button:active {
  color: #000;
}

.glow_button:active:after {
  background: transparent;
}

.glow_button:before {
  opacity: 1;
}

.glow_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #212224;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.araby_ai {
  background-image: linear-gradient(90deg, #429ed6 78.88%, #85c7f0 100.56%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.border-gradient-br-blue-green-gray-900 {
  background: linear-gradient(to right, #111828, #111828),
    linear-gradient(to top left, #8301b1, #056bc2);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.border-gradient-help {
  background: linear-gradient(to right, #111828, #111828),
    linear-gradient(to top left, #5901b1, #0579c6);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.gradient-border-3 {
  border: 3px solid transparent;
}
.bg-image {
  background-size: 100% 70%;
}
.bg-image-height {
  background-size: 20% 100%;
}
.bg-design-height {
  background-size: 100% 100%;
}
